best_download
ansi2html
sqlitedict
colorama
parse
natsort

# web
flask
flask-login
flask-wtf
flask-sqlalchemy
flask-migrate
flask-admin
flask-bootstrap
pyjwt
sqlalchemy
wtforms[email]


sphinx==4.0.2
sphinxcontrib-napoleon==0.7
